<!--verificar si hay mensages desde las variables glbales y connect flash-->
{{#if success_msg}}

<h6 style="color:red;"> {{success_msg}}<h6>

<input type="button" value="cerrar message">

<!--cerrar if-->
{{/if}}


{{#if error_msg}}

    <h2>{{error_msg}}</h2>

{{/if}}
