
<a href="/link">volver<a> 
<form action="/link/new_link" method="POST">
<h3>new link</h3>
<label>tittle</label>
    <input type="text" name="tittle">
<label>Link</label>
    <input type="text" name="link">
<label>categoria</label>
    <input type="text" name="category">
<button>CLICKME!</button>

</form>
