<h1>signUp</h2>

<form action="/user/signup" method="POST">

<input type="text" name="name" placeholder="name" value="{{name}}">

<input type="email" name="email" placeholder="email" value="{{email}}">

<input type="password" name="password" placeholder="password">

<input type="password" name="confirm_password" placeholder="password">

<button type="submit">
SIGNUP
</button>

</form>
