<h1>SignI</h1>

<form action="/user/signin" method="POST">

<label>email</label>
<input type="email" name ="email" >

<label>password</label>
<input type="password" name="password">

<button>
 SIGNIN
</button>
</form>

